<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">
    <!-- support spring annotation -->
    <context:annotation-config />
    <!-- support annotation transaction -->
    <tx:annotation-driven />
    <!-- Load properties file -->
    <context:property-placeholder location="classpath:db.properties"/>
    <!-- declare datasource -->
    <bean id="dataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${db.driver}" />
        <property name="url" value="${db.url}" />
        <property name="username" value="${db.username}" />
        <property name="password" value="${db.password}" />
    </bean>
    <!--Hibernate session factory configuration -->
    <bean id="sessionFactory"
          class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <!-- load hibernate configuration file -->
        <property name="configLocation" value="classpath:hibernate.cfg.xml" />
        <!-- where to find the ORM classes -->
        <property name="packagesToScan" value="com.example.bookstore.hibernate.model" />
    </bean>
    <!-- Transaction manager -->
    <bean id="transactionManager"
          class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    <!-- Spring and Struts beans -->
    <!-- action -->
    <bean id="userDetailsAction" class="com.example.bookstore.action.BookAction" />
    <!-- service -->
    <bean id="userDetailsService" class="com.example.bookstore.service.impl.BookServiceImpl" />
    <!-- dao -->
    <bean id="userDetailsDao" class="com.example.bookstore.dao.impl.BookDAOImpl" />
</beans>